*.class
*.exe
*.pyc
*.iml
*.ipr
*.iws
*.*~
*.*~3
*.*~4
*.idea
*.project
*.MDF
tcl/
*.MDF
*.tcl
*.pyd
*.pydevproject
library.zip
*.pickle
*.dvek
*.dmat
t
atlassian-ide-plugin.xml
local/
tu.util.log
lib/target/
common.utilities/target/
*/target/
/web.ui/_ReSharper.TU
/web.ui/*.DotSettings
/web.ui/*.ncrunchsolution
/web.ui/packages/*.*
!NuGet.exe
bin
obj
*.user
*.suo
*.DS_Store
*.aux
*.bbl
*.blg
*.log
*.pdf
*.bak
*.tmp.*
.DS_Store
*.out
*.dtx
*.toc
*.ins
*.snm
*.nav
*.bcf
